div {
    border: 1px solid black;
    width: 100%;
    align-content: center;
    justify-content: center;
}
#blocka {
        background-color: lightslategray;
        height:100px ;
        width: 960px;
    }

#blockb{
    background-color:pink;
    height:600px ;
    width: 200px;
    float: left;
}
#blockc, #blockd {
    height: 200px;
    width: 380px;
    float: left;
    background-color:grey ;
}
#blocke, #blockf, #blockg, #blockh {
    background-color: grey;
    float: left;
    height: 250px;
   width: 190px;
}
#blocki {
    background-color:grey;
    float: left;
    height:150px ;
    width: 760px;
   
 }

 
