div {
    border: 1px solid black;
    width: 100%;
    align-content: center;
    justify-content: center;
}
#blocka {
    height: 50px;
}
#blockb{
    height: 100px;
}
#blockc, #blockd {
    height: 120px;
}
#blocke, #blockf, #blockg, #blockh {
    width: 50%;
    height: 200px;
}
#blocki {
    height: 70px;
}

@media(min-width: 768px) {
    div {
        background-color: yellow;
        align-content: center;
        justify-content: center;
    }
    #blocka {
        height: 200px;
      
    }
    #blockb {
        height: 700px;
     
    }
    #blockc {
        height: 300px;
        
    }
    #blockd {
        height: 300px;
          
    }
    #blocke{
        height: 260px;
        width: 100%;
    
    }
    #blockf {
        height: 260px;
        width: 100%;
      
    }
    #blockg {
        height: 260px;
        width: 100%;
        
    }
    #blockh {
        height: 260px;
        width: 100%;
     
    }
    #blocki {
        height: 100px;
        width: 100%;
     
    }
}

@media(min-width: 960px) {
    div {
        background-color: gray;
        align-content: center;
        justify-content: center;
    }
}