
@media(min-width: 960px) {
    div {
        background-color: gray;
        align-content: center;
        justify-content: center;
    }
}
@media (max-width:747px){


    main{
        width: 480px;
        height: 767px;
        position: relative;
        margin:auto;
    }
     

    #blocka {
        width: 480px;
        height: 75px;
        background-color: #aaa;
        /* line-height: 75px; */
        
    }
    #blockb {
        width: 480px;
        height: 150px;
        background-color: #aaa;
        /* line-height: 150px; */
        border-width: 1px 1px 0px 1px;

    
    }
    #blockc {
        width: 480px;
        height: 125px;
        background-color: #aaa;
        line-height: 125px;
        float: left;
        border-width: 1px 1px 0px 1px;

    }
    #blockd {
        width: 480px;
        height: 125px;
        background-color: #aaa;
        float: left;
    
    }
    #blocke {
        width: 240px;
        height: 250px;
        background-color:red;
    
    }
    #blockf {
        width: 240px;
        height: 250px;
        background-color:red;
        border-width: 1px 1px 0px 1px;

    
    }
    #blockg{
        width: 240px;
        height: 250px;
        background-color: red;
        float: left;
    
    }
    #blockh {
        width: 240px;
        height: 250px;
        background-color:red;
        float: left;
    }
    #blocki {
        width: 480px;
        height: 80px;
        background-color: #aaa;
        float: left;
    }   
}